{% extends 'base.html.twig' %}

{% block title %}Tous les évènement {% endblock %}

{% block stylesheets %}

<link href="{{ asset('css/displayevent.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('fullcalendar/packages/core/main.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('fullcalendar/packages/list/main.css') }}" type="text/css" rel="stylesheet"/>

{% endblock %}



{% block body %}


<div >
    <h3>Liste des évènements à venir...</h3>
    
    <div>
    <a class="btn btn-secondary" href="{{ path ('eventNew', {'id':4}) }}">Ajoute un évènement</a>
    </div>
	<br>
    
    <div class="formulaire_taches" class="formulaire_contact">
        {{ form_start(form) }}
		
        <div class="row">
		
		<div class="col-6">
        {{ form_widget(form.eventsRegion) }}
        </div><div class="col-6">
		{{ form_widget(form.eventsDepartement) }}
        </div></div>
        
        {{ form_end(form) }}
        </div>
    </div>
        <br>
        <div id='calendar'></div>


</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/selectRegionDisplayEvent.js') }}"></script>
<script type="text/javascript" src='{{ asset('fullcalendar/packages/core/locales-all.js') }}'></script>
<script type="text/javascript" src="{{ asset('fullcalendar/packages/core/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('fullcalendar/packages/list/main.js') }}"></script>

<script type="text/javascript">


$( document ).ready(function() {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'list' ],
      locale: 'fr',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listDay,listWeek,listMonth,listYear'
      },

      // customize the button names,
      // otherwise they'd all just say "list"
      views: {
        listDay: { buttonText: 'Ce jour' },
        listWeek: { buttonText: 'Cette semaine' },
        listMonth: { buttonText: 'Ce mois' },
        listYear: { buttonText: 'Cette année la' },
      },

      defaultView: 'listWeek',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
          {% for event in displayEvent %}
            {
            title: '<div class="row"><div class="col text-center"><img  style="margin-top:0px" class="photoevent" src="{{asset ('images/events/' ~ event.getPhoto())}}"/></div><div class="col"><div>Evènement : {{ event.getNameEvent()|raw|e('js') }}</div><div>Date : {{ event.getDateEvent()|date("d/m/Y") }}.</div><div>Crée par : {{ event.getCreatedByUser().getNameUser() }}.</div><div>Description : {{ event.getDescriptionEvent()|replace({ '\r\n': ' ' }) }}</div><div>Prix : {{ event.getPrice() }}€.</div><div>Ville : {{ event.getPlaceEvent() }}</div><div>Région : {{ event.getEventsRegion().getNameRegion()}}.</div><div>Département : {{ event.getEventsDepartement().getNameDepartment()}}.</div></div></div>',
            start: '{{ event.getDateEvent()|date("Y-m-d") }}',
            url: '{{ path('event', {'id': event.getIdEvent()}) }}'
            },
          {% endfor %}
      ],
        eventRender: function(info) {
            info.el.lastChild.firstChild.innerHTML=info.el.lastChild.firstChild.innerText;
        }
    });

    calendar.render();
});

</script>
{% endblock %}