{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/profile_view.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}{{ user.getNameUser() }}{% endblock %}

{% block body %}


<div class ="container">
<div class="profile">
<div >
	<h3>Profil de {{ user.getNameUser() }}</h3>
	<img class ="avatar" src="{{ asset('images/avatars/' ~ user.avatar) }}">
</div>

<div class="tagline">
	{{ user.tagline }}
</div>
</div>


<div class="container-eve">
	<h4>Evènements</h4>
	<ul class="evenements">
	{% for event in user.getEventFk() %}
	    <li><a href="{{ path('event', {'id': event.getIdEvent()}) }}"><img class ="lesPhotos" src="{{ asset('images/events/' ~ event.getPhoto()) }}"><p class="textField-eve">{{ event.getNameEvent() }}</p> </a></li>
	{% endfor %}
	</ul>
</div>


<div class="middle-container">

<div class="container-gro">
	<h4>Groupes</h4>
	<ul  class="groupes">
	{% for groupe in user.getGroupesFk() %}
	    <li><a href="{{ path('groupe', {'id': groupe.getIdGroupe()}) }}"><img class ="lesPhotos" src="{{ asset('images/groupes/' ~ groupe.getPhotoGroup()) }}"><p class="textField-gro">{{ groupe.getNameGroup() }}</p></a></li>
	{% endfor %}
	</ul>
</div>

<div class="container-pos">
	<h4 class="posts_title">5 derniers posts</h4>
    <div class="posts">

		{% for post in posts %}
		<div >
			{% if post.getIdEvent() != NULL %}
				<div class="post">{{ post.getContentPost() }} <span class="small">dans <a href="{{ path('event', {'id': post.getIdEvent().getIdEvent()}) }}">{{ post.getIdEvent().getNameEvent() }}</a></span></div>
			{% endif %}
		</div>
		<div>
			{% if post.getIdActivite() != NULL %}
				<div class="post">{{ post.getContentPost() }} <span class="small">dans <a href="{{ path('activite', {'id': post.getIdActivite().getIdActivites()}) }}">{{ post.getIdActivite().getNameActvites() }}</a></span></div>
			{% endif %}
		</div>
		<div >
			{% if post.getIdTopic() != NULL %}
				<div class="post">{{ post.getContentPost() }} <span class="small">dans <a href="{{ path('topic', {'id': post.getIdTopic().getIdTopic()}) }}">{{ post.getIdTopic().getNameTopic() }}</a></span></div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
</div>

<div class="container-act">
	<h4>Activités</h4>
	<ul  class="activites">
	{% for activite in user.getActivitesFk() %}
	    <li><a href="{{ path('activite', {'id': activite.getIdActivites()}) }}"><img class ="lesPhotos" src="{{ asset('images/activites/' ~ activite.getPhotoActivites()) }}"><p class="textField-act">{{ activite.getNameActvites() }}</p> </a></li>
	{% endfor %}
	</ul>
</div>


<div class="bouton">
	<button class="btn btn-primary btn-margin'"><a href="{{ path('new_user_message', {'id': user.idUser}) }}">envoie un message à  {{ user.getNameUser() }}</a></button>
</div>
</div>

{% endblock %}